# never commit this file
version: "3.7"
services:
{% if env == "dev" %}
  odoo:
    environment:
      - DB_HOST={{PGHOST}}
      - DB_NAME={{PGDATABASE}}
      - DB_PASSWORD={{PGPASSWORD}}
      - DB_USER={{PGUSER}}
      - PGDATABASE={{PGDATABASE}}
      - PGHOST={{PGHOST}}
      - PGPASSWORD={{PGPASSWORD}}
      - PGUSER={{PGUSER}}
  db:
    environment:
      - POSTGRES_DB={{PGDATABASE}}
      - POSTGRES_PASSWORD={{PGPASSWORD}}
      - POSTGRES_USER={{PGUSER}}
{% endif %}