# never commit this file
# only to set secrets
# encrypt me with sops --age $KEYGENERATEDINCI --encrypt clear-prod.secrets.docker-compose.yml > prod.secrets.docker-compose.yml
version: "3.7"
services:
  odoo:
    environment:
      - DB_PASSWORD=
      - PGPASSWORD=
      - ENCRYPTION_KEY_CI=
