odoo:
#    modules: []
# do not forget to define the complete list
# of odoo core modules
  remotes:
    odoo: https://github.com/odoo/odoo
    oca: https://github.com/OCA/OCB
    ak: https://github.com/akretion/odoo
    acsone: https://github.com/acsone/odoo
  merges:
    - odoo {{ odoo_version }}
    - ak {{ odoo_version }}-demo-strict
