queue:
    modules:
       - queue_job
    src: https://github.com/oca/queue {{ odoo_version }}

server-env:
    modules:
       - data_encryption
       - server_environment
       - server_environment_data_encryption
    src: https://github.com/oca/server-env {{ odoo_version }}
