{
    "name": "Custom All",
    "summary": "Custom module that depend of all installed module",
    "version": "0.0.0",
    "development_status": "Alpha",
    "category": "Uncategorized",
    "website": "https://akretion.com",
    "author": " Akretion",
    "license": "AGPL-3",
    "external_dependencies": {
        "python": [],
        "bin": [],
    },
    "depends": [
        "base",
    ],
    "data": [
    ],
    "demo": [
    ],
}
