# TODO see what can be move into base image
pyjwt # auth_oidc
python-jose[cryptography] # auth_oidc

#apispec #shopinvader
#boto3==1.20.32 # shopinvader
#cachetools==3.1.1 # component connector
#cerberus==1.3.2 # base_rest #shopinvader
#elasticsearch==7.1.0 #shopinavder
#cryptography==3.3.2 # dataencryption || shopinvader_jwt
#mock # pattern_import_export
#numpy # pattern_import_export
#openpyxl # pattern_import_export
#parse-accept-language==0.1.2 #base_rest #shopinvader
#pyquerystring==1.1 # base_rest #shopinvader
#python-slugify==4.0.0 #base_url #shopinvader storage_file storage
#slugify # storage_file storage
#unidecode # attribute_set pim
#phonenumbers # used by odoo on parthers - usefull ?
#python-barcode # for barcodes_generator_*"
#xlsxwriter # for report xlsx
#xlrd # for report xlsx
#python-stdnum>=1.16 # for intrastat_product
#stripe
#marshmallow # datamodel
#marshmallow-objects # datamodel
