# Variables to be set on group / project in gitlab variables:

# CI_DOMAIN
# CI_TOOLS_REPOSITORY_URL
# SENTRY_DSN

workflow:
  # Only run the pipeline if this is the default branch or a MR
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        PIPELINE_NAME: "MR pipeline: $CI_COMMIT_BRANCH"
        IS_MR: "true"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        PIPELINE_NAME: "default branch pipeline: $CI_COMMIT_BRANCH"
    - if: $CI_COMMIT_BRANCH == "{{ odoo_version }}"
      variables:
        PIPELINE_NAME: "{{ odoo_version }} branch pipeline: $CI_COMMIT_BRANCH"

stages:
  - maintenance
  - lint
  - build
  - test
  - refresh
  - migrate
  - review
  - stop_review
  - review_preprod
  - docker_push
  # - sentry

before_script:
  - export DOCKER_BUILDKIT=1
  - cp .env-ci .env
  - export BUILD_NAME=${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID:-preprod}
  - export CI_DOMAIN=${CI_DOMAIN}
  - |
    cat << EOF >> .env
    UID=`id -u`
    BUILD_NAME=${BUILD_NAME}
    DOMAIN=${BUILD_NAME}.${CI_DOMAIN}
    COMPOSE_PROJECT_NAME=${BUILD_NAME}
    PGDATABASE=\${PGDATABASE:-$BUILD_NAME}
    ENCRYPTION_KEY_PREPROD=${ENCRYPTION_KEY_PREPROD}
    ODOO_REPORT_URL=http://$BUILD_NAME:8069
    EOF
  - mkdir shared
  {% if use_secret %}
  - sops -d ci.secrets.docker-compose.yml > secrets.docker-compose.yml
  {% endif %}

# Pre-commit lint
lint:
  stage: lint
  script:
    - pre-commit install
    - pre-commit run --all --show-diff-on-failure --verbose --color always

# Build the container
build:
  stage: build
  script:
    - docker-compose build --pull

test:
  stage: test
  script:
    - echo "DB_NAME=${BUILD_NAME}_test" >> .env
    - export PGDATABASE="${BUILD_NAME}_test"
    - docker-compose kill
    - dropdb --force --if-exists ${BUILD_NAME}_test
    - docker-compose run odoo initdb ${BUILD_NAME}_test --cache-prefix
      ${CI_PROJECT_NAME:0:7}
    - docker-compose run odoo runtests
  rules:
    # Run tests in MR if there is no Skiptest tag
    - if: $IS_MR == "true" && $CI_MERGE_REQUEST_LABELS !~ /Skiptest/
    # Always run test in default branch
    - if: $IS_MR == null
  coverage: '/TOTAL(\W+\d+){5}\%/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: shared/coverage.xml

# Drop the database to restart from a fresh one
refresh_copy_db:
  stage: refresh
  script:
    - docker-compose kill
    - dropdb --force --if-exists $BUILD_NAME
    - createdb $BUILD_NAME -T ${CI_PROJECT_NAME}_template
  rules:
    # if keepdb tag is set this job will not run
    # if emptydb tag is set this job will not run
    - if: $CI_MERGE_REQUEST_LABELS !~ /keepdb/ && $CI_MERGE_REQUEST_LABELS !~ /emptydb/

refresh_empty_db:
  stage: refresh
  script:
    - docker-compose kill
    - dropdb --force --if-exists $BUILD_NAME
    - createdb $BUILD_NAME || true
  rules:
    # if keepdb tag is set this job will not run
    # if emptydb tag is set this job will run
    - if: $CI_MERGE_REQUEST_LABELS !~ /keepdb/ && $CI_MERGE_REQUEST_LABELS =~ /emptydb/

# Run the database changes (click-odoo-update or migrate marabunta)
update_db:
  stage: migrate
  script:
    - export PGDATABASE=$BUILD_NAME
    - echo "DB_NAME=$BUILD_NAME" >> .env
    - docker-compose kill
    - docker-compose run odoo click-odoo-update
  rules:
    # if emptydb tag is set this job will not run
    - if: $CI_MERGE_REQUEST_LABELS !~ /emptydb/
    # if keepdb is set, this job will run
    - if: $CI_MERGE_REQUEST_LABELS =~ /keepdb/

# Initialize the database (by installing a module)
init_db:
  stage: migrate
  script:
    - export PGDATABASE=$BUILD_NAME
    - echo "DB_NAME=$BUILD_NAME" >> .env
    - docker-compose kill
    - docker-compose run odoo odoo -i base --stop-after-init
    # advice: Instead of base, install a module that contains your dependencies
  rules:
    # if emptydb tag is set (and no keepdb) this job will run
    - if: $CI_MERGE_REQUEST_LABELS =~ /emptydb/ && $CI_MERGE_REQUEST_LABELS !~ /keepdb/

# Run the container used for the review
review:
  stage: review
  script:
    - echo "DB_NAME=$BUILD_NAME" >> .env
    # TODO reimplement fetch mr env that do no depend on cidbservice
    #- ci-fetch-mr-environment
    #- source fetch-env.txt
    #- export $(cut -d= -f1 fetch-env.txt)
    - docker-compose kill
    - docker-compose up -d
  environment:
    name: test/${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID}
    url: https://${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID}.${CI_DOMAIN}
    on_stop: stop_review
  rules:
    - if: $IS_MR == "true"

# Stop the container used for the review
stop_review:
  stage: review
  script:
    - docker-compose down --rmi local --volumes
    - dropdb ${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID} --if-exist
    - dropdb ${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID}_test --if-exist
  environment:
    name: test/${CI_PROJECT_NAME}_${CI_MERGE_REQUEST_IID}
    action: stop
  when: manual
  rules:
    - if: $IS_MR == "true"

# Start the preprod container
review_preprod:
  stage: review_preprod
  script:
    - echo "DB_NAME=$BUILD_NAME" >> .env
    - echo "DOMAIN=${CI_PROJECT_NAME}_preprod.${CI_DOMAIN}" >> .env
    - docker-compose kill
    - docker-compose up -d
  environment:
    name: preprod
    url: https://${CI_PROJECT_NAME}_preprod.${CI_DOMAIN}
  rules:
    - if: $IS_MR == null

# Send the docker image to the registry in order to be downloaded in prod
docker_push:
  stage: docker_push
  script:
    - export TAG="${CI_COMMIT_MESSAGE//Bump version /}"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker tag $BUILD_NAME $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker tag $BUILD_NAME $CI_REGISTRY_IMAGE:$TAG
    - docker push $CI_REGISTRY_IMAGE:$TAG
  rules:
    - if: $CI_COMMIT_TITLE =~ /^Bump version/ && $IS_MR == null

# TODO rework on sentry maybe merge with bump ?
#sentry:
#  stage: sentry
#  image:
#    name: getsentry/sentry-cli
#    entrypoint: [""]
#  script:
#    - env | grep SENTRY > sentry.env
#    - docker run --env-file sentry.env getsentry/sentry-cli info
#    - export PWD=`pwd`
#    - echo $PWD
#    - docker run --env-file sentry.env -v $PWD:/work  getsentry/sentry-cli releases new $CI_COMMIT_SHORT_SHA --finalize
#    - docker run --env-file sentry.env -v $PWD:/work  getsentry/sentry-cli releases set-commits $CI_COMMIT_SHORT_SHA --auto
#  rules:
#    - if: $IS_MR == null
#  needs:
#    - docker_push

# Delete the data associated with the stopped containers
# Runs automatically every night
prune_docker:
  stage: maintenance
  script:
    - docker system prune --all --volumes --force
  when: manual
  rules:
    - if: $IS_MR == null

# Start/Restart kwhtmltopdf
kwkhtmltopdf:
  stage: maintenance
  script:
    - docker-compose -f kwkhtmltopdf-traefik.docker-compose.yml down
    - docker-compose -f kwkhtmltopdf-traefik.docker-compose.yml up -d
  when: manual
  rules:
    - if: $IS_MR == null
