#!/usr/bin/env python3
# pylint: disable=print-used

import ast
import logging
import os
import subprocess
from datetime import datetime

import click

_logger = logging.getLogger(__name__)


def check_output(cmd, cwd, log_error=True):
    cp = subprocess.run(
        cmd,
        universal_newlines=True,
        stdout=subprocess.PIPE,
        stderr=subprocess.STDOUT,
        cwd=cwd,
    )
    if cp.returncode and log_error:
        _logger.error(
            f"command {cp.args} failed with return code {cp.returncode} "
            f"and output:\n{cp.stdout}"
        )
    cp.check_returncode()
    return cp.stdout


@click.command()
def main():
    version = datetime.now().strftime("{{ odoo_version }}.%y%m.%d.0")
    with open("odoo/local-src/custom_all/__manifest__.py") as f:
        data = ast.literal_eval(f.read())
    last_version = data["version"]

    # increment last digit if needed
    if last_version >= version:
        odoo_version, zero, year_month, day, inc = last_version.split(".")
        inc = str(int(inc) + 1)
        version = ".".join([odoo_version, zero, year_month, day, inc])

    # increment modules versions
    for module_name in os.listdir("odoo/local-src"):
        module_path = f"odoo/local-src/{module_name}"
        manifest_path = f"{module_path}/__manifest__.py"
        # Check if it's an odoo module
        if os.path.exists(manifest_path):
            update_version = False

            diffs = check_output(
                cmd=["git", "diff", "--name-only", "HEAD", last_version], cwd="."
            )
            if module_path + "/" in diffs:
                update_version = True

            # in case of pending migration script increment it
            if os.path.exists(f"{module_path}/migrations/0.0.0"):
                subprocess.run(
                    (
                        f"git mv {module_path}/migrations/0.0.0 "
                        f"{module_path}/migrations/{version}"
                    ),
                    shell=True,
                    check=True,
                )
                update_version = True

            if update_version or module_name == "custom_all":
                print(f"Update version of {module_name} to {version}")
                with open(manifest_path) as f:
                    raw_data = f.read()
                    data = ast.literal_eval(raw_data)
                with open(manifest_path, "w") as f:
                    raw_data = raw_data.replace(data["version"], version)
                    f.write(raw_data)
                subprocess.run(f"git add {manifest_path}", shell=True, check=True)

    subprocess.run(f"git commit -m'Bump version {version}'", shell=True, check=True)
    subprocess.run(f"git tag {version}", shell=True, check=True)
    subprocess.run("git push origin --tag", shell=True, check=True)


if __name__ == "__main__":
    main()
