# never commit this file
# only for dev
version: "3.7"
services:
  odoo:
    environment:
    # usually you want a lax addons path in dev
    # and a strict (only authorized modules) in prod
      - ADDONS_PATH=/odoo/links,/odoo/local-src,/odoo/src/odoo/addons,/odoo/src/addons
      - DB_HOST=db
      - DB_NAME=db
      - DB_PASSWORD=odoo
      - DB_USER=odoo
      - PGDATABASE=db
      - PGHOST=db
      - PGPASSWORD=odoo
      - PGUSER=odoo
  db:
    environment:
      - POSTGRES_DB=db
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
